div#Post {
    border-radius: 10px;
    background-color: white;
    margin: 10px;
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 20px;
    align-items: flex-start;
    justify-content: center;
}

#PostContent #Header {
    display: flex;
    gap: 235px;
    margin-bottom: 15px;
}

#Header #Title {
    display: flex;
    align-items: center;
    gap: 25px;
}

#Header #Title img {
    width: 45px;
}

#Header #Title h4 {
    color: hsl(212, 24%, 26%);
    /* font-weight: 700; */
}

#Header #Title p {
    color: hsl(211, 10%, 45%);
}

#content p {
    color: hsl(211, 10%, 45%);
    line-height: 23px;

}

div#Reply {
    display: flex;
    gap: 11px;
    align-items: center;
    justify-content: center;
}

#Reply span {
    color: hsl(238, 40%, 52%);
    font-weight: 700;
}

@media screen and (max-width: 600px) {

    div#Post {
        width: 100%;
        position: relative;
        height: 270px;
        font-size: 14px;
    }

    #Header #Title {
        justify-content: space-evenly;
    }

    div#Reply {
        position: absolute;
        bottom: 20px;
        right: 25px;
    }

    div#Reply span {
        font-size: 16px;
    }
}